*.elf
/.libs/
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/configure~
/depcomp
/install-sh
/libtool
/libwebloop.la
/ltmain.sh
/m4/
/missing
/src/.deps/
/src/.dirstamp
/src/.libs/
/src/libwebloop_la-*.lo
/src/libwebloop_la-*.o
/test/build/
/webloop.pc
